<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
  <div class="col">

    <form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">

          <input type="text" class="form-control" formControlName="name" placeholder="Nombre del producto">

          <span *ngIf="isNotValidField('name')" class="form-text text-danger">
            {{ getErrorMessage('name') }}
          </span>
        </div>
      </div>

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="price" placeholder="Precio del producto">
          <span *ngIf="isNotValidField('price')" class="form-text text-danger">
            {{ getErrorMessage('price') }}
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="inStorage" placeholder="Existencias del producto">

          <span *ngIf="isNotValidField('inStorage')" class="form-text text-danger">
            {{ getErrorMessage('inStorage') }}
          </span>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>



    </form>

  </div>
</div>




<div class="row">
  <div class="col">

    <b>Valid</b>
    <pre>{{ myForm.valid | json }}</pre>

    <b>Pristine</b>
    <pre>{{ myForm.pristine | json }}</pre>

    <b>Touched</b>
    <pre>{{ myForm.touched | json }}</pre>

    <b>Value</b>
    <pre>{{ myForm.value | json }}</pre>

    <b>Producto</b>
    <pre>{{ myForm.controls['name'].value | json }}</pre>

    <b>Producto - Errors</b>
    <pre>{{ myForm.controls['name'].errors | json }}</pre>

    <b>Precio</b>
    <pre>{{ myForm.controls['price'].value | json }}</pre>

    <b>Precio - Errors</b>
    <pre>{{ myForm.controls['price'].errors | json }}</pre>

    <b>inStorage</b>
    <pre>{{ myForm.controls['inStorage'].value | json }}</pre>

    <b>inStorage - Errors</b>
    <pre>{{ myForm.controls['inStorage'].errors | json }}</pre>
  </div>
</div>
